*{
    padding: 0;
    margin: 0px;
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

}




html, body{
    overflow-x: hidden;
}
/*Proprietées*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bouton-O{
    border: 0.2vw solid #FFB633;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw 2vw;
    background-color: transparent;
}
.bouton-F{
    border: 0.2vw solid #FFB633;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw 2vw;
    background-color: #FFB633;
    color: #fff;
}

.rectangle1{
    height: 30vw;
    width: 25vw;
    position: relative;
    border: 1vw solid #FFB633;
}
.rectangle1a{
    height: 20vw;
    width: 15vw;
    position: relative;
    border: 1vw solid #FFB633;
}

.rectangle2{
    height: 20vw;
    width: 42vw;
    display: flex;
    align-items: flex-start;
    padding-left: 4vw;
    border: 1px solid white;
    border-radius: 2vw;
}
.rectangle{
    height: 18vw;
    width: 22vw;
    border: 1px solid white;
}
.rond1{
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
}


/*hover*/
 ul > .li1:hover{
    height: 50%;
    width: 20vw;
    background-color: #555555;
    padding: 2vw 0;
    transition: 1s;
}
.li1 > a::after {
    display:block;
    content:"";
    height:1px;
    width:0;
    margin-top: 1vw;
    background-color: #fff;
    transition:width 1s;
}
.li1 > a:hover {
    color:white;
    transition: 0.5s;
}
.li1:hover > a::after {
    width: 100%;
}

.rectangle:hover{
    height: 20vw;
    width: 24vw;
    transition: 1s;
    cursor: pointer;
}



/*text*/
.yellow{
    color: #FFB633;
}
.black{
    color: #000;
    font-size: 1.5vw;
}
.white-h2{
    color: #fff;
    font-size: 3vw;
}
.yellow-h2{
    color:  #FFB633;
    font-size: 2.5vw;
}
.white{
    color: #fff;
    font-size: 1vw;
}
.title{
    font-size: 3vw;
}
/*end proprietées*/





/*star header*/
.nave{
    justify-content: space-evenly;
    height: 8vw;
    width: 100vw;
    padding-top: 2px;
    align-items: center;
    background: var(--border-gradient-onyx);
    background-color: #597177;
    position: fixed;
    top: 0px;
    z-index: 1;
}
ul{
   height: 80%; 
   width: 80vw;
   align-items: center;
}
ul li{
    height: 50%;
    width: 20vw;
    list-style-type: none;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.haut{
    position: relative;
    top: -5vw
}
.button-nav{
    padding: 1.5vw;
    text-decoration: none;
}
.acceuille{
    height: 350vh;
    width: 100vw;
    background: var(--bg-gradient-yellow-1);
    background-color:#f7d492;
}
.header-g {
    height: 90vw;
    width: 50vw;
    background: var(--bg-gradient-jet);
    background-color: #555555;
}
.header-d {
    height: 90vw;
    width: 50vw;
    position: relative;
    background: var(--bg-gradient-yellow-1);
    background-color:  #f7d492;
}
.img-head{
    height: 50vw;
    position: absolute;
    top: 480px;
    left: -13vw;


}

.text-header{
    align-items: flex-start;
    position: relative;
    top: 100px;

}
/*end header*/


/*star a propos*/
.a-propos{
    height: 100vh;
    width: 100vw;
    position: relative;
    transform: translate(0px, -280px);
    border-radius: 10vw;
    background: var(--bg-gradient-onyx);
    background-color: #000;
}
.prop-b {
    background-image: url(image/Nacteur.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 18%;
    top: 4vw;
}
.prop-b:hover{
    left: 0;
    top: 0;
    height: 28.1vw;
    width: 23vw;
    transition: 1s;
    cursor: pointer; 
}
.prop-text{
    height: 20vw;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    border: solid whitesmoke;
    right: -10vw;
    padding-left: 2vw;
}

.bout-prop-1,
.bout-prop-2{
    cursor: pointer;
}

/*end a propos*/


/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/
.resume{
    background: var(--bg-gradient-jet);
    background-color: #555555;
    padding: 10px 0px 0px 20px;
    transform: translate(0px, -260px);
    border-radius: 20px;
}
.article-title { margin-bottom: 30px; }


/**
 * education and experience 
 */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}


/**
 * skills 
 */

.skills-title { margin-bottom: 20px; }

.skills-list {
     padding: 20px;
     }


.skills-item:not(:last-child) {
     width: 100%;
     margin-bottom: 15px; 
    }

.skill .title-wrapper {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: var(--jet);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--text-gradient-yellow);
  height: 100%;
  border-radius: inherit;
}





/*star services*/
.block{
    height: 70vw;
    width: 100vw;
    position: relative;
    z-index: -1;
    background: var(--bg-gradient-onyx);
    background-color: #555555;
}
.h2-block{
    position: relative;
    left: -35vw;
    text-decoration: underline;
}

.block-A{
    height: 55vw;
    width: 50vw;
}
.block-B{
    height: 55vw;
    width: 50vw;
}
/*end services*/



/*star realisation*/
.realisation{
    height: 55vw;
    width: 100vw;
    background: var(--border-gradient-onyx);
    background-color: #d2d2d2;
    position: relative;
}
.real-A{
    height: 50vw;
    width: 100vw;
    background: var(--border-gradient-onyx);
    background-color:#597177 ;
    
}
.cadre-h1{
    transform: translate(-22vw, -2vw);
}
.real-A1{
    height: 40vw;
    width: 100vw;
}
.ima-real{
    height: 25vw;
    width: 100%;
    position: relative;
    border: 0.1vw dotted white;
    justify-content: space-around;
}
.h1-real{
    position: relative;
    top: -2vw;
}
.hr-foot{
    background: var(--border-gradient-onyx);
    background-color: #fff;
    position: relative;
}
.fa-solid{
    color: #fff;
    height: 2vw;
}


/*end realisation*/


/*start footer*/
footer{
    height: 5vw;
}

/*end footer*/


/*css formulaire*/

.body2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_form{
    height: 60vh;
    width: 60vw;
    border: 1px solid black;
    border-radius: 10px;
}

.message_form{
    height: 20vw;
    width: 60vw;
    background-color: #dea1a1;
}

