*{
    padding: 0;
    margin: 0px;
}
html, body{
    overflow-x: hidden;
}
/*Proprietées*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bouton-O{
    border: 0.2vw solid #FFB633;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw 2vw;
    background-color: transparent;
}
.bouton-F{
    border: 0.2vw solid #FFB633;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw 2vw;
    background-color: #FFB633;
    color: #fff;
}

.rectangle1{
    height: 30vw;
    width: 25vw;
    position: relative;
    border: 1vw solid #FFB633;
}
.rectangle2{
    height: 20vw;
    width: 42vw;
    display: flex;
    align-items: flex-start;
    padding-left: 4vw;
    border: 1px solid white;
    border-radius: 2vw;
}
.rectangle{
    height: 18vw;
    width: 22vw;
    border: 1px solid white;
}
.rond1{
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
}


/*hover*/
 ul > li:hover{
    height: 50%;
    width: 20vw;
    background-color: #555555;
    padding: 2vw 0;
    transition: 1s;
}
li > a::after {
    display:block;
    content:"";
    height:1px;
    width:0;
    margin-top: 1vw;
    background-color: #fff;
    transition:width 1s;
}
li > a:hover {
    color:white;
    transition: 0.5s;
}
li:hover > a::after {
    width: 100%;
}

.rectangle:hover{
    height: 20vw;
    width: 24vw;
    transition: 1s;
    cursor: pointer;
}



/*text*/
.yellow{
    color: #FFB633;
}
.black{
    color: #000;
    font-size: 1.5vw;
}
.white-h2{
    color: #fff;
    font-size: 3vw;
}
.white{
    color: #fff;
    font-size: 1vw;
}
.title{
    font-size: 3vw;
}
/*end proprietées*/


/*star header*/
.nave{
    justify-content: space-evenly;
    height: 8vw;
    width: 100vw;
    padding-top: 2px;
    align-items: center;
    background-color: #597177;
    position: fixed;
    top: 0px;
    z-index: 1;
}
ul{
   height: 80%; 
   width: 80vw;
   align-items: center;
}
ul li{
    height: 50%;
    width: 20vw;
    list-style-type: none;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
.haut{
    position: relative;
    top: -5vw
}
.button-nav{
    padding: 1.5vw;
    text-decoration: none;
}
.acceuille{
    height: 150vw;
    width: 100vw;
    background-color:#f7d492;
}
.header-g {
    height: 90vw;
    width: 50vw;
    background-color: #555555;
}
.header-d {
    height: 90vw;
    width: 50vw;
    position: relative;
    background-color:  #f7d492;
}
.img-head{
    height: 50vw;
    position: absolute;
    left: -13vw;
    top: 15vw;

}

.text-header{
    align-items: flex-start;
    position: relative;
    top: -10vw;

}
/*end header*/


/*star a propos*/
.a-propos{
    height: 60vw;
    width: 100vw;
    position: relative;
    top: -30vw;
    border-radius: 10vw;
    background-color: #000;
}
.prop-b {
    background-image: url(image/Nacteur.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 2vw;
    top: -4vw;
}
.prop-text{
    height: 20vw;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    border: solid whitesmoke;
    right: -10vw;
    padding-left: 2vw;
}

.bout-prop-1,
.bout-prop-2{
    cursor: pointer;
}

/*end a propos*/

.h1_comp{
    transform: translateY(-15vw);
    text-decoration:underline;
    cursor: pointer;


}
.h1_comp:hover{
    background-color: #2160a0;
    width: 100%;
    text-align: center;
    padding: 1vw;
    transition: 1s;
}
.p_comp{
    transform: translateY(-12vw);
    background-color: #555555;
    width: 100vw;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}
.p_comp:hover{
    background-color: #2160a0;
    padding: 1vw;
    transition: 1s;
    letter-spacing: 1.5vw;
}

.mes_competences{
    height: 30vw;
    width: 100vw;
    background-color: #1A2B3C;
}

.Mes_formations{
    height: 12vw;
    background-color: #1A2B3C;
}
.li1_formation{
    width: 50%;
    text-align: center;
}
.li_formation{
    width: 50%;
    text-align: center;
}
.ul_formation{
    height: 80%;
    width: 100%;
    cursor: pointer;
}

 .li_formation:hover{
    background-color:brown;
    font-size: 2vw;
    padding: 2vw 0;
    letter-spacing: 0.2vw;
    text-decoration: underline;
    transition: 1s;
}
 .li1_formation:hover{
    background-color:brown;
    font-size: 2vw;
    padding: 2vw 0;
    letter-spacing: 0.2vw;
    text-decoration: underline;
    transition: 1s;
 }

/*star services*/
.block{
    height: 70vw;
    width: 100vw;
    position: relative;
    z-index: -1;
    background-color: #555555;
}
.h2-block{
    position: relative;
    left: -35vw;
    text-decoration: underline;
}

.block-A{
    height: 55vw;
    width: 50vw;
}
.block-B{
    height: 55vw;
    width: 50vw;
}
/*end services*/



/*star realisation*/
.realisation{
    height: 55vw;
    width: 100vw;
    background-color: #d2d2d2;
    position: relative;
}
.real-A{
    height: 50vw;
    width: 100vw;
    background-color:#597177 ;
}
.cadre-h1{
    transform: translate(-22vw, -2vw);
}
.real-A1{
    height: 40vw;
    width: 100vw;
}
.ima-real{
    height: 25vw;
    width: 100%;
    position: relative;
    border: 0.1vw dotted white;
    justify-content: space-around;
}
.h1-real{
    position: relative;
    top: -2vw;
}
.hr-foot{
    background-color: #fff;
    position: relative;
}
.fa-solid{
    color: #fff;
    height: 2vw;
}


/*end realisation*/


/*start footer*/
footer{
    height: 5vw;
}

/*end footer*/


/*css formulaire*/

.body2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_form{
    height: 60vh;
    width: 60vw;
    border: 1px solid black;
    border-radius: 10px;
}

.message_form{
    height: 20vw;
    width: 60vw;
    background-color: #dea1a1;
}

